<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Playball</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
	<header>

	</header>
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img src="" alt="baseball-logo">
			</div>	
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>	
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<h2>
					Welcome to Play Ball 
				</h2>
				<p>
					Pit teams and players from any era in baseball against each other. To begin, please enter a team name below.
				</p>
				<form action="" method="POST" role="form">
				
					<div class="form-group">
						<input type="text" class="form-control" id="teamName" placeholder="Team Name">
					</div>
				
					<button type="submit" class="btn btn-lg btn-danger">Continue</button>
				</form>
			</div>
		</div>		
	</div>
	

	
</body>
</html>