<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">

	<title>Play Ball!</title>

<!-- BOOTSTRAP CDN -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- JQUERY CDN -->

	<script src="http://code.jquery.com/jquery.js"></script>

<!-- STYLESHEETS -->
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">	
	<link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>

	<div class="container">
	
		<!-- NAVBAR WITH LOGO -->

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="navbar">
			<img src="../assets/images/logo.png" alt="logo">
			</div>
		</div>
				
		<div class="row">

		<!-- EMPTY COLUMN  -->
			
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

		<!-- ILLUSTRATION -->

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="illustration">
				<img class="img-responsive" src="../assets/images/Illustration-Placeholder.png" alt="Baseball Illustration">
			</div>

		<!-- EMPTY COLUMN -->

			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>

		<!-- ENTER TEAM NAME -->

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				
				<h1>
					Welcome to Play Ball 
				</h1>

				<p>
					Pit teams of players from any era in baseball against each other. To begin, please enter a team name in the box below.
				</p>

				<form action="" method="POST" role="form">
					<div class="form-group">
						<input type="text" class="form-control" id="teamName" placeholder="Team Name">
					</div>
					<button type="submit" class="btn">Continue</button>
				</form>

			</div>

		<!-- EMPTY COLUMN -->

		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>

		</div>

	</div>
	
</body>
</html>